body{
    background: #e1e1e1
}
.count1{
    
    margin: 20px;
    height: 170px;
    border-radius: 5px;
}
.count2{
    margin: 20px;
    height: 170px;
    border-radius: 5px;
}
.count3{
    margin: 20px;
    height: 170px;
    border-radius: 5px;
}
.count4{
    margin: 20px;
    height: 170px;
    border-radius: 5px;
}

    .row {
        /* margin: 40px !important; */
        margin-bottom: 40px !important;
        margin-top: 40px !important;
    }
.row > div{
    padding: 10px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 1px 9px -2px
}
.row i{
    font-size: 27px;
    margin-top: 4px !important;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
.icons{
    background: #3497fd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 0;
    margin: auto;
    margin-top: 19px;
}
/*.material-icons:hover{
    transition: 0.70s;

  transform: rotate(360deg);
}*/
.info p{
    color: #000;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 0px
}
.info span{
    color: #5a5555;
    font-size: 20px;

}
.row >.dashboard-table1{
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px
}
.dash-table1{
    margin-left: 40px;
    margin-right: 40px;
   
}
@media screen and (max-width: 600px){
    
    .row i {
        font-size: 16px !important;
    }
    .icons{
        width: 40px;
        height: 40px; 
    }
    .info p{
        font-size: 17px;
    }
    .info span{
        font-size: 17px;
    }
}
@media screen and (max-width: 460px){
.dash-table1{
    font-size: 10px;
}
.dash-table1{
    margin-left: 15px;
    margin-right: 15px;
}

}
.content{
    margin-left: 5.5%;
    margin-right: 40px;
    
}
.content-active{
    margin-left: 20.2%;
    margin-right: 40px;

}
.dashTitle{
    text-align: center;
    margin-top: 6%;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 6px;
    color: #3497fd;
}