
.ant-modal-title{
    margin-top: 0;
    text-align: center !important;
    color: #26a69a !important;
    }
    .ant-btn-primary{
    margin-left: 100px;
    font-weight: bold;
    height: 40px !important;
    background: #26a69a !important;
    border:1px solid #26a69a
    }
    .add-btn{
    width: 96%;
    margin-left: 12px !important;
    }
    .ant-form-item-control {
        width: 100% !important;
    }
    .ant-select-selection--single {
        height: 40px !important;
    }
    .ant-select-selection-selected-value{
        margin-top: 2px !important;
        font-size: 15px !important;
    }
    .anticon-plus{
        font-size: 20px;
        font-weight: bold;
    }
    .ant-upload{
        width: 100% !important;
    }
    .controller-icon {
        cursor: pointer;
        margin: 5px !important;
        color: #26a69a !important;
        font-size: 18px;
    }
    div > img {
        border-radius: 50%;
    }

    .ant-skeleton-content > ul{
        display:none !important;
    }
    .ant-skeleton-content > h3{
    width:100% !important
    }
    p {
        margin-top: 1em;
        margin-bottom: 1em;
        color: #26a69a;
        font-weight: 500;
        font-size: 14px;
    }
    .ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected .ant-select-selected-icon, .ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item-selected:hover .ant-select-selected-icon {
        display: inline-block !important;
        color: #1890ff !important;
    }
    
    .online{
        width: 8px;
        height: 8px;
        background-color: rgb(28, 209, 28);
        border-radius: 50%;
        text-align: center;
        display: inline-block;
    }
    .offline{
        width: 8px;
        height: 8px;
        background-color: rgb(145, 146, 145);
        border-radius: 50%;
        text-align: center;
        display: inline-block;
    }
    