
.title{
    height: 100px;
    padding: 0px;
    width: 100%;
    text-align: center;
    background-color: #3497fd;
    color: #fff;
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}
.card-content{
    max-height: 100% !important;
}
.login{
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 50px;
    padding-right: 50px;
}
.input-field,.chekbox-field,.button-field{
    border: 0px;
    box-shadow: none !important;
    
}

.row .col.m2{
    padding: 0px !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 580px;
}
.row-form{
    margin-top: 0px
}
.row .col.s12 {
    
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.login-btn{
    width: 100%;
    margin-left: 0px;
}


h2{
    font-size: 30px;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
}
@media screen and (max-width: 800px){
    .login{
        margin-left: 50px;
        margin-right: 50px;
        padding: 0px;
    }
}
@media screen and (max-width: 550px){
    .login{
        margin-left: 20px;
        margin-right: 20px;
        padding: 0px;
    }
}
.input-field input{
    border-bottom: 1px solid #9e9e9e !important;
}