

.controller-icon {
    cursor: pointer;
    margin: 5px !important;
    color: #25272e !important;
    font-size: 18px;
    margin-right: 30px !important;
}
.MuiTableCell-paddingCheckbox-131{
    display: none !important
}

.test{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif
}

.MUIDataTableToolbar-root-263 {
    background-color: #25272e;
}

.col-sm-12 {
    
    max-width: 50%;
}


@media (min-width: 576px) {
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 50%;
    }

}
